@{
    ViewBag.Title = "Index";
}
<link href="~/Content/list.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery.ajaxpage-syw-2.2.js"></script>
<script type="text/javascript" src="~/Scripts/ProductList.js"></script>
<div class="main_con">
    <header class="header bg-white b-b clearfix">
        <select id="categoryId" name="Area">
            <option value="0">区域选择</option>
            <option value="1">韩国</option>
            <option value="2">日本</option>
            <option value="3">欧美</option>
            <option value="4">其他</option>
        </select>
        <input type="text" class="input-sm form-control js_btnAccount" id="searchContent" name="searchContent">
        <input type="button" class="btn btn-info btn-s-md" id="btnSearch" value="搜索">
    </header>
    <div id="scrollable_one">
        <ul id="js_tbSzList" class="clear"></ul>
        <div class="row dataTables_wrapper">
            <footer class="footer bg-white b-t">
                <div class="row dataTables_wrapper">
                    <div class="col-sm-6">
                        <div id="DataTables_Table_0_info" class="dataTables_info"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="DataTables_Table_0_paginate" class="dataTables_paginate paging_full_numbers"></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
