@model CP.AdminWeb.Models.UserListViewModel

@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户管理</h2>
@if (Model.UserList != null)
{
    foreach (var p in Model.UserList)
    {
        <div class="item">
            @p.UserName            @Html.ActionLink("删除", "Delete", new { userId = @p.UserId })
        </div>
    }
}

