* {margin: 0;padding: 0;}
ol,ul {list-style: none;}
.clear {
	zoom: 1;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
	cursor: pointer;
}
.main_con{
	width: 1001px;
	margin: 0 auto;
}
.main_con ul{
		border-left:1px dashed #ddd;
}
.main_con ul li{
	width: 199px;
	height: 260px;
	float: left;
	border:1px dashed #ddd;
	border-left: none;
	text-align: center;
}
.main_con ul li p{
	padding:5px;
}
.main_con ul li img{
	width: 80%;
	height: 150px;
}
